# application user to obtain the OAUTH token
export APP_USER_ID=

# oauth client id
export CLIENT_ID=

# oauth client secret
export CLIENT_SECRET=

# password to log a unser into the application
#export APP_PASSWORD=Geheim

# log level for the application, should be info to get access logs and debug for development
#export LOGLEVEL=warn

# Listening port for the http server
#export PORT=5000

# Name of the cookie used for the session
#export SESSION_COOKIE_NAME=1up

# Secret to encrypt the cookie content
#export SESSION_SECRET=SuperGeheim

# session time out in minutes
#export SESSION_TIMEOUT=60

# ID of the linked health system
#export SYSTEM_ID=4707
